/*  Put your CSS Here */
body {
  background-color: plum;
}

.form-container {
  width: 50%;
  margin: 20vh auto;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

header img {
  width: 100%;
}

main {
  background-color: #000;
  color: #fff;
  padding: 30vh 20vh;
}

input {
  background-color: gray;
}
.field {
  display: flex;
  flex-flow: column wrap;
  padding: 4px;
  width: 50%;
}
button {
  background-color: #1db954;
  color: #fff;
  padding: 6px 20px;
  border-radius: 50px;
  margin: 10px 0 0 0;
  cursor: pointer;
}
